*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
background-color:#ececec;
color: #fff;
font-family: 'Texturina', serif;
}


/* $mainBlack:#222 ;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainGreen: #82b340; */


